@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Oxygen&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  line-height: 1.8;
}

.first-color {
  background: #081f6b;
}

.second-color {
  background: #086972;
}

.third-color {
  background: #3983f6;
}

.fourth-color {
  background: #76f3fc;
}

li {
  list-style: none;
}

/* NAVBAR */

.navBarContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 50px 0 50px;
  margin-top: 50px;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: larger;
  color: white;
}

.linksContainer {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav_link {
  text-decoration: none;
  color: #133158;
  font-size: 1rem;
  font-family: "IBM Plex Mono";
}

.nav_link:hover {
  text-decoration: underline;
  color: #6fa275;
}

/* HOME */

.homeContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-image: url("./nasa-rTZW4f02zY8-unsplash.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  height: 500px;
  width: 80%;
  margin: 25px 0 0 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.bigWord {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  font-size: 5rem;
  text-align: center;
  color: white;
}

.mission {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0 90px 0 90px;
}

.whoContainer {
  padding: 5% 20% 5% 20%;
  font-size: 1.1rem;
  width: 100%;
  height: 700px;
  color: #133158;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.circle {
  border: 1px solid #081f6b;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
