@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Oxygen:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: 1.5s fadein;
}

button {
  background-color: #081f6b;
  color: white;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none #0d172a solid;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #3983f6;
  color: #fff;
}

.mainContainer {
  animation: 1s fadein;
}

.subContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 550px;
  text-align: center;
}

.title {
  font-weight: 700;
  width: 70%;
  letter-spacing: 3px;
  font-size: 3.75rem;
  text-align: center;
  color: white;
}

.description {
  width: 70%;
  height: auto;
  font-size: 1.2rem;
  text-align: left;
  margin: 25px 0 25px 0px;
  color: white;
}

.titleContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 15px 0 0 0;
  padding: 25px;
  background-color: #086972;
 
}

.iconContainer {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0 0px 0px;
  padding: 0 0 30px 0;
  border-bottom: 1px solid white;
}

.iconContainer .circle {
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

.iconContainer .person {
  color: white;
  font-size: 3rem;
}

.subImage {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: url("/guido-blokker-7qhL24a3kLs-unsplash.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-color {
  background: #081f6b;
}

.second-color {
  background: #086972;
}

.third-color {
  background: #3983f6;
}

.fourth-color {
  background: #76f3fc;
}

li {
  list-style: none;
}

/* NAVBAR */

.navBarContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  width: 100%;
  height: 100px;
  background-color: white
}

.logo {
  font-size: 1.55rem;
  font-family: "Orbitron", sans-serif;
  color: #081f6b;
  cursor: pointer;
}

/* NAVDRAWER */

.linksContainer {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer button {
  box-shadow: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.linksContainer:hover {
  height: 40px;
  width: 40px;
  border: 1px solid #081f6b;
  box-shadow: none;
}

.linksContainer button:hover{
  box-shadow: none;
  background-color: none;
}

.nav_link {
  text-decoration: none;
  color: #081f6b;
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
}

.nav_link:hover {
  text-decoration: underline;
  color: #086972;
}

/* HOME */

.homeContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url("./nasa-rTZW4f02zY8-unsplash.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeContainer button {
  margin-top: 50px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: space-between;
}

.homeContainer button:hover {
  box-shadow: -13px 13px 13px 1px rgba(0, 0, 0, 0.3);
}


.welcome {
  height: auto;
  width: 80%;
  margin: 25px 0 25px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.bigWord {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  margin: 100px 0 0px 0;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.mission {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 25px 90px 0 90px;
}

.whoContainer {
  padding: 5% 20% 5% 20%;
  font-size: 1.1rem;
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.whoContainer h1 {
  color: #081f6b;
  margin-top: 15px;
}

.whoContainer p {
  color: black;
  margin-top: 15px;
}

.circle {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.person {
  font-size: 4.5rem;
  color: #081f6b;
}

@media screen and (max-width: 600px) {
  .bigWord {
    font-size: 2.5rem;
  }

  .mission {
    font-size: 1rem;
    width: 100%;
    margin: 25px 0 0 0;
  }

  .welcome {
    margin: 0 0 200px 0;
  }

  .whoContainer {
    padding: 5% 10% 5% 10%;
  }

  .title{
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 300px) {
  .circle {
    height: 100px;
    width: 100px;
  }

  .beaker {
    font-size: 3rem;
  }

  .mission {
    font-size: 0.75rem;
  }


}

/* ENVIRONMENTAL */

/* FOOTER */

.footerContainer {
  height: 75px;
  width: 100%;
  background-color: #081f6b;
  color: white;
  margin-top: 15px;
  left: 0;
  bottom: 0;
}

.footerContainer ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.footerContainer li {
  margin-right: 15px;
  text-align: center;
}

.footerClick:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.arrow {
  font-size: 1.5rem;
  margin-top: 6px;
}
